* {
    overflow-x:hidden;
    
}

a {
    text-decoration: none;
    color:black;
}

#logo {
    position: absolute;
    width:80vh;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    pointer-events: none;
}

#home-text {
    position:absolute;
    font-family: Helvetica;
    font-size: 5vw;
    width:65vw;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: 0.3s ease-out;
}

#home-text a:hover {
    color:blue;
    text-decoration: underline;
}

#water-flex{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    top: 0px;
    width: 75vw;
    min-height: 70vh;
    
    
}

#water-flex img{
    transition-duration: 5s;
    opacity: 1;
    margin: 5px;
    max-width: 150px;
    
    
}

/*Added so we donn't need store-container-top



*/
header{
    display: block;
    top:0px;
    height: 35px;
    width: 100%;
    margin-bottom: 1vw;
    
}

header h1 {
    position: absolute;
    left:30px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 12px;
}

#info {
    position:absolute;
    width:13vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
    pointer-events: none;
    transition-duration: 5s;
    text-shadow: 0.5px ;
}

#info p {
    font-family: Helvetica;
    font-size: 11px;
    text-align: justify;

}

button{
    font-size: 11px;
    font-family: Helvetica;
    position:fixed;
    background-color: white;
    border: 0.3px black solid;
    border-radius: 15px;
    margin-top: 5px;
    padding:5px;
    width:60px;
    cursor:pointer;
    transition:color 0.3s;
}

button:hover{
    color:rgb(70, 70, 70);
}

#button_home {
    float:right;
    right:160px;
    z-index: 1;
    background-color: white;
}
   
#button_work{
    float:right;
    right:160px;
    z-index: 1;
    background-color: white;
    
}

#button_store {
    float:right;
    right:90px;
    z-index: 1;
    background-color: white;
    
}

#button_about {
    float:right;
    right:20px;
    z-index: 1;
    background-color: white;
    
}

#button_cart {
    float:right;
    right:20px;
    bottom:20px;
    z-index: 10;
    background-color: white;
}

#cart-cont{
    z-index: 2;
    display: block;
    position: fixed;
    width: 30vw;
    min-width: 300px;
    max-width: 80vw;
    min-height: 102vh;
    bottom: 0px;
    right: -80vw;
    
    overflow-y: scroll;
    background: lightgray;
    transition-duration: 1s;
    border-left-style: solid;
    border-width: 1.5px;
    border-color: gray;
}
#pp{
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 75px;
    height: 30px;
    overflow: hidden;
    
}
#pp button{
    width: 75px;
    box-shadow: 2.5px 2.5px 1.5px gray;
    overflow: hidden;
}
#p{
    opacity: 0.0;
}
paypal-button-container{
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.empty-cart{
    font-size: 20px;
    font-family: Helvetica;
    margin-top: 30px;
    margin-left: 22px;
}

#cart-header{
    height: 15vh;
}

#cart{
    display: flex;
    flex-direction: column;
    
}

.cart-item{
    padding: 0.01px;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 5px 5px 5px grey;
    transition-duration: 0.25s;
    
    
    
}


.quantity{
    
    line-height: 45px;
    margin-left: 5px;
    margin-right: 5px;
   
}

 .item-name-cont{

    font-family: Helvetica;
    height: 45px;
    border-style: solid;
    border-width: 1.5px;
    border-color: gray;
    
    
}
.item-name{
    
    line-height: 45px;
    margin-left: 20px;

}
.info-button{
    cursor: pointer;
}
.item-info{
    display: none;
    padding: 10px;
    position: fixed;
    text-align: justify;
    top:10vh;
    left: 30vw;
    width: 20vw;
    min-width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background: rgb(255, 255, 255);
    box-shadow: 1.5px 1.5px 6px grey;
    z-index: 5; 
}

.item-info h4, .item-info p {
    font-family: Helvetica;
    font-weight: 200; 
}

 .quant-price{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    height: 45px;
    border-style: solid;
    border-top: none;
    border-width: 1.5px;
    border-color: grey;
    

}

.quant-cont{
    margin-left: 10px;
    display: flex;
    line-height: 45px;
    max-width: 70% ;
    
    
}
.quant-cont button{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 25px;
    border-radius: 25px;
    margin-right: 5px;
    box-shadow: 1.5px 1.5px 1.5px grey;
    
    
}

.item-total{
    display: block;
    float: right;
    margin-right: 20px;
    line-height: 45px;
}
.subtotal{
    float: right;
    margin-right: 20px;
    margin-left: auto;   
    font-family: Helvetica;
    margin-top: 30px;
    
}
#checkout{
    
    
    transition-duration: 2s;
}

#store-container-top{
    border-top:1px black solid;
}

.store-container {
    display:flex;
    width: 100vw;
    min-height:15vh;
    border-bottom:1px black solid;
}

.store-info{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 50vw;
    max-height: 30vh;
    margin-bottom: 5px;
}

#store-wrapper p{
    font-family: Helvetica;
    font-weight: 200;
    font-size: 0.7vw;
}


.quant-selector{
    border-radius: 50px;
    transition-duration: 2s;
    
}

.store-images img {
    max-height: 160px;
    max-width:160px;
    padding:15px;

}

.store-left{
    display: flex;
    line-height: 2vh;
    left:0;
    width:10vw;
    padding-left:20px;
    padding-top: 10px;
}

.store-mid{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    line-height: 2vh;
    width:10vw;
    padding-top: 10px;
}

.store-right{
    display: flex;
    flex-wrap: wrap;
    line-height: 2vh;
    width:10vw;
    padding-left:20px;
}

.store-right button {
    position: relative;
    width:70px;
    font-size: 0.7vw;
    font-weight: 200;
    z-index:1;
    transition-duration: 0.5s;
}

.store-images-cont{
    display: block;
    width: 100%;
    min-height:15vh;
    padding-right: 20px;
    

}

.store-images {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    float: right;
    max-width: 30vw;
    
   
    
}

.store-images img {
    min-width: 70px;
    max-height:80px;
    padding:10px;
    cursor:zoom-in;

}

.links  {
    font-family: Courier;
    position:fixed;
    padding:10px;
    font-size: 12px;
    font-weight: 200;
    width:25vw;
    top:70vh;
    text-align: justify;
}

.links2  {
    font-family: Courier;
    position:fixed;
    padding:10px;
    font-size: 12px;
    font-weight: 200;
    width:80vw;
    left:15vw;
    top:70vh;
    text-align: justify;
}

.links3  {
    font-family: Courier;
    position:fixed;
    padding:10px;
    font-size: 12px;
    font-weight: 200;
    right:4vw;
    top:0;
    text-align: justify;
}


/* WORKS PAGE 
*/

.work{
    transition-duration: 10s;
    
}

#work-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#work-container img{
    max-width: 70vw;
    min-width: 40vw;
    max-height: 65vh;
    margin:20px;
    margin-bottom: 30vh;
    object-fit:contain;
}



/* Modal Styling */

.modal {
    background: rgba(0, 0, 0, 0.6); 
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    opacity: 0; 
    pointer-events: none;
    transition: 0.25s ease-out;
    z-index:3;
}

.modal.open{
     opacity:1;
     pointer-events: all;
}

.full-image{
    position:absolute;
    height:90%;
    top:50%;
    left:50%; 
    transform:translate(-50%,-50%) scale(0.6);
    transition: all 0.25s ease-out;
    pointer-events: none;
}

.full-image.open{
    transform:translate(-50%,-50%) scale(1);
}

/*About page*/

#about {
    
    width:30vw;
    margin-left: 50%;
    transform:translate(-50%,0)
}

#about p {
    font-family: Times;
    font-size: 0.8vw;
    font-weight: 200;
    text-align: justify;
}

#about #title {
    text-align: center;
}

#about a {
    text-decoration: underline;
}

#about img {
    width:75%;
}

#mobile-caption {
    display:none;
}

.mobile-info {
    display:none;
}



@media only screen and (max-device-width : 1024px) {

header {
    margin-bottom: 5vh;
}

#logo {
    width:30vw;
}
#store-wrapper p{
    font-size: 8px;
}
.store-left {
    padding:0;
    width:25vw;
}
.store-mid {
    position:absolute;
    padding:0;
    left:25vw;
    width:25vw;
}
.store-right {
    padding-left: 0;
    width:25vw;
}
.store-info{
    width: 100vw;
    max-height: 50vh;
    justify-content: flex-start;
    flex-wrap:wrap;
}
.store-right button {
    font-size: 8px;
    width:60px;
    z-index:1;
    position:absolute;
}
#button:hover {
    color:black;
}

#about {
    
    width:90vw;
    margin-left: 50%;
    transform:translate(-50%,0)
}

#about p {
    font-family: Times;
    font-size: 3.5vw;
    font-weight: 200;
    text-align: justify;
}

.links {
    top:0;
    width:40vw;
}

.links2 {
    display:none;
}

.mobile-info {
    display:inherit;
}

#mobile-caption {
    font-family: Courier;
    position:fixed;
    height:100vh;
    width:100vw;
    background:rgba(255, 255, 255, 0.95);
    pointer-events: none;
    
    
}

#mobile-caption p {
    right:4vw;
    text-align: justify;
    padding:10px;
    font-size: 12px;
    font-weight: 200;
    width:90vw;
}

#work-container {
    margin-top: 10vh;
}

#work-container img {
    margin-bottom: 5vh;
}

}